// Navigation Colors
//First Level Navigation
$navNodeTextColor: #00a0f5;
$navNodeBgColor: #ffffff;
$navNodeHoverTextColor: #ffffff;
$navNodeHoverBgColor: #00a0f5;
$navNodeBorderColor: #eeeeee;

//Second+ Level Navigation
$navNodeChildTextColor: #1e1e1e;
$navNodeChildBgColor: #ffffff;
$navNodeChildHoverTextColor: #00a0f5;
$navNodeChildHoverBgColor: #ffffff;

//Drop Down Menu Background
$navDropDownMenuBgColor: #ffffff;
// end Navigation Colors

.global-nav {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 25px;

  /* hub nav */
  .ms-HorizontalNavItem {
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    margin-right: 0;

    &,
    .ms-HorizontalNavItem-link {
      color: $navNodeTextColor;
      background-color: $navNodeBgColor;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        &,
        .ms-HorizontalNavItem-link {
          &,
          & i {
            background-color: $navNodeHoverBgColor;
            color: $navNodeHoverTextColor;
          }
        }
      }
    }
  }

  .td-dropdown-menu {
    display: none;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul.gn-root {
    > li {
      display: inline-block;
      vertical-align: top;

      //all links
      a {
        padding: 14px 16px;
        display: inline-block;
        &,
        &:link,
        &:hover,
        &:visited {
          color: $navNodeTextColor;
          background-color: $navNodeBgColor;
          text-decoration: none;
        }
        &:hover {
          color: $navNodeHoverTextColor;
          background-color: $navNodeHoverBgColor;
        }

        //second links
        + ul a {
          padding: 5px 17px;
          font-size: 14px;
          font-weight: normal;
          text-transform: none;
          &,
          &:link,
          &:hover,
          &:visited {
            color: $navNodeChildTextColor;
            background-color: $navNodeChildBgColor;
            text-decoration: none;
          }
          &:hover {
            color: $navNodeChildHoverTextColor;
            background-color: $navNodeChildHoverBgColor;
          }
        }
      }
    }

    .td-dropdown {
      position: relative;

      i {
        margin-left: 10px;
        font-size: 10px;
      }

      .td-dropdown-menu {
        position: absolute;
        margin: -3px;
        padding: 0;
        min-width: 100%;
        display: none;
        z-index: 999;
        border: 1px solid $navNodeBorderColor;
        min-width: 185px;
        box-shadow: 1px 1px 7px #ccc;
        background-color: $navDropDownMenuBgColor;
      }

      //sub links
      &:hover {
        > .td-dropdown-menu {
          display: block;

          > li > a {
            display: block;
            white-space: nowrap;
            display: inline-block;
            line-height: 25px;
            width: 100%;
            border-bottom: 1px solid $navNodeBorderColor;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}

// Specific to level 0, aka the top level nodes
.td-dropdown[data-level="0"] {
  display: inline-block;

  > .td-dropdown-menu {
    display: none;
    top: 100%;
    left: 0;
  }
}

// Specific to all levels, except the top level nodes
.td-dropdown:not([data-level="0"]) {
  display: block;
  width: 100%;

  > .td-dropdown-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
  }
}

// Home Icon Customizations
.home {
  a {
    width: 16px;
    position: relative;
    color: transparent !important;
    display: inline-block;
    font-family: "FabricMDL2Icons";
    font-style: normal;
    font-weight: 400;
    &:before {
      color: $navNodeTextColor;
      content: "\EA8A";
      position: absolute;
      font-size: 19px;
      //top: 5px;
    }
    &:hover:before {
      color: $navNodeHoverTextColor;
    }
  }
}
